
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  
  .app {
    
    max-width: 390px;
    min-height: 844px;
    height: 812px;
    overflow: hidden;
    overflow-y:auto;
    margin: 0;
    background-color: rgb(155, 198, 238);
  }

  .app::-webkit-scrollbar {
    width: 1px;
  }

  .contents {
    min-width: 375px;
    width: 100%;
    display: flex; 
     flex-direction: column;
    justify-content: space-between;
 
    padding: 90px 30px;
    height: 100%;
  }
  
  
  
  .current {
    border-bottom: 4px solid white;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 60px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  div img {
    height: 300px;
    width: fit-content;
  }
  
  
  .badge img {
    font-size: 20px;
    height: 100px;
    width: fit-content;
  }
  
  li img {
    height: 200px;
  }
  
  .friend-badge {
    height: 50px;
  }
  

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.current-program {
  display: flex;
  flex-direction: row;
}

.root-btns {
  flex-direction: row;
  gap: 30px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

