.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 61.5%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(167, 167, 167);
  top: 0;
  height: 70px;
  z-index: 1000;
  padding: 0px 10px 0px 5px;
  img {
    height: 60px;
  }
}
