
.root-content {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}


.root-btns {
  flex-direction: row;
  gap: 30px;
}

div img {
  height: 300px;
  width: fit-content;
}