.badge {
  margin-bottom: 120px;
  img {
    font-size: 20px;
    height: 100px;
    width: fit-content;
  }
}

#content {
  align-items: baseline;
}

.health-matrix {
  display: flex;
  justify-content: space-around !important;
  align-items: baseline;
}

.top {
  margin-top: 20px;
}



.profile-programs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}